@page "/inventorio"

<h3>Inventario</h3>

<table class="table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Fecha</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    
</table>

@code {
    
}