<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">sistemadeventas</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Login
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/cliente" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Cliente
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/productos" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Producto
            </NavLink>
        </div>
    </nav>
    <div class="nav-item px-3">
            <NavLink class="nav-link" href="/venta" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Venta
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="/inventorio" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inventario
            </NavLink>
        </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
