<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SISTEMA DE VENTAS </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Login
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/cliente" Match="NavLinkMatch.All">
                <span class="oi oi-people" aria-hidden="true"></span> Clientes
            </NavLink>
        </div>
       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/productos" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Productos
            </NavLink>
        </div>
       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/facturaciones" Match="NavLinkMatch.All">
                <span class="oi oi-dollar" aria-hidden="true"></span> Facturacion
            </NavLink>
        </div>

        

    </nav>
          
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
